services:
  notification-service:
    build:
      context: ../notification-service
    container_name: talk2_notification
    restart: always
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URL=mongodb://mongo:27017/talk2-notifications
      - FRONTEND_URL=http://localhost:3000
    env_file:
      - ../notification-service/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: talk2_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
