

services:
  web:
    build:
      context: .
      args:
        NEXT_PUBLIC_STREAM_BASE_URL: "http://localhost:3000"
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: "pk_test_d2FybS1yYXR0bGVyLTU1LmNsZXJrLmFjY291bnRzLmRldiQ"
        NEXT_PUBLIC_STREAM_API_KEY: "xs4acedg9xue"
    container_name: talk2_web
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production