name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

defaults:
  run:
    working-directory: Final-Project

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.11.0"
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Generate Prisma Client
        run: npx prisma generate
      - name: Run Prisma Migrations
        run: npx prisma migrate deploy
      - name: Run Biome Lint
        run: npx biome check .
      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: Final-Project
          build: npm run build
          start: npm start
          wait-on: "http://localhost:3000"
